<header>
    <h1 class="text-warning">
        Cuenta Bloqueada
    </h1>
    <p class="text-warning">Esta cuenta ha sido temporalmente bloqueada. Por favor, intenta de nuevo en 30 minutos.</p>
</header>
