@model GestionNegocios_PruebraTecnica.Models.Categoria

@{
    ViewData["Title"] = "Eliminar Categoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Eliminar Categoría</h1>
    <h3 class="text-danger">¿Está seguro que desea eliminar esta categoría?</h3>
    <div class="card my-3">
        <div class="card-body">
            <h4 class="card-title">Detalles de la Categoría</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Nombre:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Nombre)</dd>
            </dl>
            <form asp-action="Delete" method="post" class="my-2">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Realmente desea eliminar esta categoría permanentemente?');">
                    Eliminar
                </button>
                <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la Lista</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
