@model GestionNegocios_PruebraTecnica.Models.Categoria

@{
    ViewData["Title"] = "Editar Categoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Editar Categoría</h1>
    <h4 class="mb-3">Detalles de la Categoría</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Nombre" class="control-label">Nombre de la Categoría</label>
                    <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre de la categoría" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la Lista</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
