@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Bienvenido a Nuestra Plataforma de Gestión de Negocios</h1>
        <p class="lead">Tu solución todo en uno para gestionar la interacción con clientes y optimizar tus operaciones de negocio.</p>
    </div>

   
     
 